# Ignorer l'environnement virtuel
venv/

# Ignorer les fichiers Python compilés
__pycache__/
*.pyc

# Ignorer les fichiers temporaires
*.log
*.sqlite

# Ignorer les fichiers spécifiques au système
.DS_Store         # Sur macOS
Thumbs.db         # Sur Windows

# Ignorer les fichiers générés par IDE (exemple avec VSCode)
.vscode/

# Ignorer les fichiers spécifiques aux environnements Python
*.egg-info/
*.pkl